:root {
  --nav-height: 96px;
}

.header__container {
  margin-block: 0;
}

.header__container-inner {
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  max-width: 1280px;
  padding-inline: var(--spacing-medium);
  gap: var(--spacing-small);
  padding-top: var(--spacing-large);

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    height: calc(100vh - 96px);
    flex-direction: row;
    gap: var(--spacing-medium);
    padding-inline: var(--spacing-xxlarge);
    padding-block-start: 0;
  }

  @media (min-width: 1440px) {
    padding-inline: 250px;
  }
}

.header__container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh);
  background-image: url("/background.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
  z-index: -1;
}

.header__container {
  background-color: rgba(0, 0, 0, 0.5);
}

@media (prefers-color-scheme: light) {
  .header__container::before {
    background-image: url("/backgroundLight.svg");
  }

  .header__container {
    background-color: rgba(255, 255, 255, 0.5);
  }
}

.header__lottie {
  @media (min-width: 768px) {
    margin-inline-end: -36px;
    margin-block-start: -51px;
  }
}

.header__content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 8px;

  @media (min-width: 768px) {
    margin-block-start: -51px;
  }
}

.header__title {
  margin-block-end: var(--spacing-large);
}

.header__text {
  margin-block-end: var(--spacing-medium);
}

.header__button-container {
  display: flex;
  gap: 16px;
}

.header__button {
  background-color: var(--color-primary-purple);
  color: var(--color-primary-white);
  text-align: left;
}

.main__container {
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: var(--spacing-medium);
  padding-block: var(--spacing-medium);

  @media (min-width: 768px) {
    padding-inline: var(--spacing-large);
    padding-block: var(--spacing-large);
  }
}

.main__title {
  margin-block-end: var(--spacing-large);
}

.main__benefits-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 2em;
  margin-block-start: var(--spacing-xxlarge);

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.main__benefit:hover .main__benefit-number {
  transform: translateY(-8px);
}

.main__benefit {
  flex-grow: 1;
  flex-basis: 33%;
  background-color: var(--color-secondary-black);
  border: 2px solid var(--color-secondary-black);
  border-radius: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main__benefit-img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  height: 100px;
  object-fit: cover;
  filter: grayscale();
  transition: all 0.5s ease-in-out;
}

.main__benefit:hover .main__benefit-img {
  transform: scale(1.1);
  filter: grayscale(0);
}

.main__benefit-title {
  margin-inline: var(--spacing-medium);
  margin-block: var(--spacing-medium);
  font-weight: 700;
}

.main__benefit-description {
  padding-inline: var(--spacing-medium);
  margin-block-end: var(--spacing-medium);
  font-size: 0.9em;
  line-height: 1.5;
}
