.header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block-end: var(--spacing-large);
  margin-block-start: 0;

  @media (min-width: 768px) {
    height: calc(100vh - 100px);
    flex-direction: row;
    padding-block-end: var(--spacing-xxlarge);
  }
}

.header__lottie {
  flex-shrink: 0;
  min-width: 40%;
}

.header__content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.header__title {
  margin-block-end: var(--spacing-large);
}

.header__text {
  margin-block-end: var(--spacing-medium);
}

.header__button-container {
  display: flex;
  gap: 16px;
}

.header__button--outline,
.navigation__button--outline {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 0.8em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: var(--color-secondary-black);
  color: var(--color-primary-white);

  @media (min-width: 768px) {
    padding-inline: 1.2em;
  }
}

.header__button {
  background-color: var(--color-primary-purple);
  color: var(--color-primary-white);
}

.header__button--outline {
  text-decoration: none;
  color: var(--color-primary-white);
}

.header__button--outline:hover,
.navigation__button--outline:hover {
  background-color: var(--color-primary-black);
}

@media (prefers-color-scheme: light) {
  .header__button--outline:hover,
  .navigation__button--outline:hover {
    background-color: #dedede;
  }
}

.main__title {
  margin-block-end: var(--spacing-large);
}

.main__benefits-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 2em;
  margin-block-start: var(--spacing-xxlarge);

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.main__benefit:hover .main__benefit-number {
  transform: translateY(-8px);
}

.main__benefit {
  flex-grow: 1;
  flex-basis: 33%;
  background-color: var(--color-secondary-black);
  border: 2px solid var(--color-secondary-black);
  border-radius: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main__benefit-img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  height: 100px;
  object-fit: cover;
  filter: grayscale();
  transition: all 0.5s ease-in-out;
}

.main__benefit:hover .main__benefit-img {
  transform: scale(1.1);
  filter: grayscale(0);
}

.main__benefit-title {
  margin-inline: var(--spacing-medium);
  margin-block: var(--spacing-medium);
  font-weight: 700;
}

.main__benefit-description {
  padding-inline: var(--spacing-medium);
  margin-block-end: var(--spacing-medium);
  font-size: 0.9em;
  line-height: 1.5;
}
