/* languageSwitcher */
.navigation__content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);

  @media (min-width: 768px) {
    flex-direction: row;
    align-items: center;
  }
}

.lang__container {
  margin-inline-end: var(--spacing-small);
}

.lang-btn__icon {
  height: 24px;
}

@media (max-width: 767px) {
  .lang-btn {
    width: 140px;
  }
}

.lang-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-small);
}

.lang-btn svg {
  width: 24px !important;
  height: 24px !important;
}
