:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 150%;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1f1f1f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* COLORS */
  --color-primary-blue: #213547;
  --color-primary-black: #070707;
  --color-secondary-black: #1a1a1a;
  --color-dark-gray: #555;
  --color-light-gray: #ccc;
  --color-primary-white: #f5f5f5;
  --color-primary-red: #e85964;

  /* SPACING */
  --spacing-small: 11px;
  --spacing-base: 16px;
  --spacing-medium: 24px;
  --spacing-large: 36px;
  --spacing-xlarge: 54px;
  --spacing-xxlarge: 81px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

h1,
h2,
h3,
p {
  margin: 0;
  margin-block-end: 0.5em;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 320px;
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
}

.logo svg {
  width: 25px;
}

.logo:hover {
  svg {
    animation: slideOutAndIn 2.2s ease-in;
    animation-delay: 0.3s;
  }

  #fire {
    animation: fire 0.5s ease-in forwards;
  }
}

@keyframes fire {
  100% {
    fill: var(--color-primary-red);
  }
}

@keyframes slideOutAndIn {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  65% {
    transform: translateY(-200px);
    opacity: 0;
  }

  66% {
    transform: translateY(80px);
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.container {
  margin-inline: var(--spacing-medium);

  @media (min-width: 768px) {
    margin-inline: var(--spacing-large);
  }

  @media (min-width: 1024px) {
    margin-inline: var(--spacing-xxlarge);
  }
}

section {
  margin-block: var(--spacing-xxlarge);
}

h1 {
  font-size: 2.4em;
  line-height: 1.1;

  @media (min-width: 768px) {
    font-size: 2.8em;
  }

  @media (min-width: 1024px) {
    font-size: 3.2em;
  }
}

h2 {
  font-size: 1.8em;
  line-height: 1.1;

  @media (min-width: 768px) {
    font-size: 2em;
  }

  @media (min-width: 1024px) {
    font-size: 2.2em;
  }
}

.logo {
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo #body {
  fill: var(--color-light-gray);
}

.logo #fire {
  fill: #666;
}

.card {
  padding: 2em;
}

button,
a.roadmap__feedback-btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--color-primary-black);
  background-color: var(--color-light-gray);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover,
a.roadmap__feedback-btn:hover {
  background-color: white;
}

button:focus,
button:focus-visible {
  outline: solid 2px var(--color-primary-white);
  outline-offset: 3px;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--color-primary-blue);
    background-color: var(--color-primary-white);
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: var(--color-primary-blue);
    color: var(--color-primary-white);
  }

  button:hover {
    background-color: var(--color-primary-black);
    color: var(--color-primary-white);
  }

  /* secondary button */
  a.header__button--outline {
    background-color: var(--color-secondary-white);
    color: var(--color-primary-blue);
    border: 1px solid var(--color-primary-blue);
  }

  .logo #body {
    fill: var(--color-primary-blue);
  }

  .logo #fire {
    fill: var(--color-primary-blue);
  }

  textarea.roadmap__input {
    background-color: var(--color-light-gray);
    color: var(--color-primary-blue);
  }

  /* benefit cards */
  div.main__benefit {
    background-color: var(--color-primary-white);
    color: var(--color-primary-blue);
    box-shadow: 2px 3px var(--color-light-gray);
  }

  div.profile__projects-card {
    background-color: var(--color-primary-white);
    color: var(--color-primary-blue);
    box-shadow: 2px 3px var(--color-light-gray);
  }

  button.roadmap__stage {
    background-color: var(--color-primary-white);
    border: 1px solid var(--color-primary-blue);
    color: var(--color-primary-blue);
  }

  button.navigation__button--outline,
  button.roadmap__stage--active {
    background-color: var(--color-primary-blue);
    color: var(--color-primary-white);
  }

  button.roadmap__stage:hover {
    background-color: var(--color-primary-blue);
    color: var(--color-primary-white);
  }

  button.dropdown__option {
    background-color: var(--color-primary-white);
    color: var(--color-primary-blue);
  }

  button.dropdown__option:hover {
    background-color: #ddd;
    color: var(--color-primary-blue);
  }

  .header__button--outline:focus,
  .header__button--outline:focus-visible,
  .navigation__button--outline:focus,
  .navigation__button--outline:focus-visible,
  button:focus,
  button:focus-visible,
  div.roadmap__day-content:focus {
    outline: solid 2px var(--color-primary-blue);
    outline-offset: 5px;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  margin-top: var(--spacing-medium);
  padding-inline: var(--spacing-medium);

  @media (min-width: 768px) {
    padding-inline: var(--spacing-large);
  }

  @media (min-width: 1024px) {
    padding-inline: var(--spacing-xxlarge);
  }
}

.header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block-end: var(--spacing-large);
  margin-block-start: 0;

  @media (min-width: 768px) {
    height: calc(100vh - 100px);
    flex-direction: row;
    padding-block-end: var(--spacing-xxlarge);
  }
}

.header__lottie {
  flex-shrink: 0;
}

.header__content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.header__title {
  margin-block-end: var(--spacing-large);
}

.header__highlight {
  border-block-end: 4px solid var(--color-primary-red);
}

.header__text {
  margin-block-end: var(--spacing-medium);
}

.header__button-container {
  display: flex;
  gap: 16px;
}

.header__button--outline,
.navigation__button--outline {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: var(--color-secondary-black);
  color: var(--color-primary-white);
}

.header__button--outline {
  text-decoration: none;
  color: var(--color-primary-white);
}

.header__button--outline:hover,
.navigation__button--outline:hover {
  /* box-shadow: 3px 3px var(--color-primary-black); */
  border-color: var(--color-primary-black);
  background-color: #212121;
}

.header__button--outline:focus,
.header__button--outline:focus-visible,
.navigation__button--outline:focus,
.navigation__button--outline:focus-visible,
.roadmap__day-content:focus {
  outline: solid 2px var(--color-primary-white);
  outline-offset: 3px;
}

.roadmap__stage--blocked:focus,
.roadmap__stage--blocked:focus-visible {
  outline: none;
}

/*# roadmap */
.roadmap__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @media (min-width: 768px) {
    flex-direction: row;
    align-items: flex-start;
    gap: 3em;
  }

  @media (min-width: 1024px) {
    gap: 6em;
  }
}

.roadmap__side {
  margin-block-end: var(--spacing-large);
  inline-size: 100%;
}

.roadmap__content {
  flex-basis: 100%;
  flex-shrink: 0;
  flex-grow: 1;

  @media (min-width: 768px) {
    flex-basis: 65%;
    flex-shrink: 0;
    flex-grow: 1;
  }
}

.roadmap__video {
  min-height: 360px;
}

.roadmap__content p {
  margin-block-end: var(--spacing-large);
}

.roadmap__content h2 {
  margin-block-start: var(--spacing-xlarge);
  margin-block-end: var(--spacing-large);
}

.roadmap__title {
  margin-block-end: var(--spacing-xlarge);
}

.roadmap__days {
  display: flex;
  list-style: none;
  flex-direction: column;
  gap: 1em;
  padding: 0;
}

.roadmap__stage {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.6em;
  font-size: 1em;
  font-weight: 500;
  color: #999;
  border-color: var(--color-secondary-black);
  cursor: pointer;
  /* box-shadow: 2px 3px var(--color-secondary-black); */
  background-color: #212121;
  inline-size: 100%;
  text-align: left;
}

.roadmap__stage svg {
  width: 16px;
  height: 16px;
}

.roadmap__stage path {
  fill: #555;
}

.roadmap__stage:hover {
  border-color: var(--color-secondary-black);
  background-color: var(--color-secondary-black);
}

.roadmap__stage--active {
  color: var(--color-primary-white);
  background-color: var(--color-secondary-black);
  /* box-shadow: 2px 3px var(--color-primary-black); */
}

.roadmap__day-content {
  display: none;
}

.roadmap__day-content--active {
  display: block;
  opacity: 1;
}

.roadmap__day-wrapper {
  position: relative;
}

.roadmap__day:hover + [role="tooltip"],
.roadmap__day:focus + [role="tooltip"] {
  display: block;
}

[role="tooltip"] {
  display: none;
  position: absolute;
  top: -1em;
  right: -12em;
  padding: 0.5em 1em;
  background-color: var(--color-primary-black);
  color: var(--color-primary-white);
  border-radius: 5px;
  font-size: 12px;
  z-index: 10;
}

.roadmap__input {
  background-color: var(--color-secondary-black);
  color: var(--color-primary-white);
  margin-block-end: 1em;
  display: block;
  border: none;
  border-radius: 8px;
  padding-block: 1em;
  width: 100%;
}

button.roadmap__btn {
  margin-block-start: var(--spacing-small);
  width: 100%;
  background-color: var(--color-primary-black);
  color: var(--color-primary-white);
}

.roadmap__ai-feedback {
  margin-block-start: var(--spacing-large);
}

.roadmap__feedback {
  background-color: #e85964;
  margin-block-start: var(--spacing-xxlarge);
  border-radius: 8px;
  padding: var(--spacing-medium);
  display: flex;
  flex-direction: row;
  gap: var(--spacing-large);
  align-items: center;
}

.roadmap__feedback-content {
  flex-shrink: 0;
  color: var(--color-primary-black);
}

.roadmap__feedback p:first-child {
  margin-block-end: var(--spacing-small);
}

.roadmap__feedback p:last-child {
  margin-block-end: 0;
}

a.roadmap__feedback-btn {
  align-self: center;
}

.main__title {
  margin-block-end: var(--spacing-large);
}

.main__benefits-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 2em;
  margin-block-start: var(--spacing-xxlarge);

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.main__benefit:hover .main__benefit-number {
  transform: translateY(-8px);
}

.main__benefit {
  flex-grow: 1;
  flex-basis: 33%;
  background-color: var(--color-secondary-black);
  border: 2px solid var(--color-secondary-black);
  border-radius: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main__benefit-img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  height: 100px;
  object-fit: cover;
  filter: grayscale();
  transition: all 0.5s ease-in-out;
}

.main__benefit:hover .main__benefit-img {
  transform: scale(1.1);
  filter: grayscale(0);
}

.main__benefit-title {
  margin-inline: var(--spacing-medium);
  margin-block: var(--spacing-medium);
  font-weight: 700;
}

.main__benefit-description {
  padding-inline: var(--spacing-medium);
  margin-block-end: var(--spacing-medium);
  font-size: 0.9em;
  line-height: 1.5;
}

/*# form  */
.form__container {
  max-width: 680px;
  margin: 0 auto;
  padding-block: var(--spacing-xxlarge);
}

.form__content {
  margin-block-end: var(--spacing-xxlarge);
  text-align: center;
}

.form__question-container {
  margin-block-end: var(--spacing-xlarge);
  border-style: none;
  padding: 0;
}

fieldset label {
  padding: 1em;
  border-width: 2px;
  border-color: var(--color-secondary-black);
  border-style: solid;
  /* box-shadow: 2px 3px var(--color-secondary-black); */
  background-color: transparent;
  width: 100%;
  margin-block-start: 1em;
  border-radius: 10px;
}

fieldset label:hover {
  border-color: #bbb;
}

fieldset label:focus-within {
  border-color: #bbb;
}

fieldset[aria-invalid="true"] {
  padding-inline: var(--spacing-base);
  border: 1px solid var(--color-primary-red);
}

.form__radio-container {
  display: flex;
  gap: 16px;
}

.form__project-name {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
  margin-block-end: var(--spacing-large);
}

.form__project-input {
  border-radius: 8px;
  padding: 1em;
  border: none;
}

/* footer */
.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding-block: var(--spacing-xlarge);
}

.footer__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-base);
}

.footer__logo {
  height: 30px;
}

.navigation__button--outline {
  width: 160px;
}

.dropdown {
  position: relative;
  width: 160px;
}

.dropdown-content {
  width: 160px;
  display: none;
  position: absolute;
  right: 0;
  text-align: center;
  top: 50px;
  background-color: #f9f9f9;
  /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
  z-index: 1;
  border-radius: 8px;
}

.dropdown__option {
  border: none;
  width: 100%;
  background-color: var(--color-primary-white);
  color: var(--color-primary-black);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 8px;
  box-shadow: none;
}

.dropdown__option:hover {
  background-color: #e8e7e7;
  border-radius: 8px;
}

.show {
  display: block;
}

/* profile */
.profile__projects-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1em;
  padding-block: var(--spacing-xlarge);
  cursor: pointer;
}

.profile__projects-card {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  border-radius: 8px;
  background-color: var(--color-secondary-black);
  border: 2px solid var(--color-secondary-black);
}

.profile__projects-img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  height: 100px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
  filter: grayscale();
}

.profile__projects-title {
  margin-inline: var(--spacing-medium);
  margin-block: var(--spacing-medium);
  font-weight: 700;
}
